header {
background-image: url('../img/JanAndChin.jpeg');
}

.portfolio-box {
  position: relative;
    float: left;
    /*width:  350px;
    height: 350px;*/
    max-height: 546px;
    background-position: 50% 50%;
    background-repeat:   no-repeat;
    background-size:     cover;
    overflow:hidden;
}

.img-responsive {
    position: relative;
    float: left;
    /*width:  350px;
    height: 350px;*/
    background-position: 50% 50%;
    background-repeat:   no-repeat;
    background-size:     cover;
    margin:0;

}
hr {
border-color: rgba(165,138,82,1);
}

hr.light {
    border-color: rgba(165,138,82,1);
}

a {
color: rgba(165,138,82,0.66);
}

.bg-primary {
background: rgb(208, 190, 142);
 /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(left top,rgba(208,190,142,1),rgba(192,168,104,0.5), rgba(165,138,82,1)); /*Safari 5.1-6*/
  background: -o-linear-gradient(bottom right,rgba(208,190,142,1),rgba(192,168,104,0.5),rgba(165,138,82,1)); /*Opera 11.1-12*/
  background: -moz-linear-gradient(bottom right,rgba(208,190,142,1),rgba(192,168,104,0.5),rgba(165,138,82,1)); /*Fx 3.6-15*/
  background: linear-gradient(to bottom right, rgba(208,190,142,1),rgba(192,168,104,0.5) ,rgba(165,138,82,1)); /*Standard*/
}



.btn-primary{
background-color: rgba(165,138,82,0.66);

}

.text-primary {
    color: #12296f;
}


.navbar-default .navbar-header .navbar-brand {
    color: rgba(165,138,82,0.66);
}

.section-heading{
    color:black;
}