header {
background-image: url('../img/JanAndChin.jpeg');
}

.portfolio-box {
  position: relative;
    float: left;
    /*width:  350px;
    height: 350px;*/
    max-height: 546px;
    background-position: 50% 50%;
    background-repeat:   no-repeat;
    background-size:     cover;
    overflow:hidden;
}

.img-responsive {
    float: left;
    /*width:  350px;
    height: 350px;*/
    background-position: 50% 50%;
    background-repeat:   no-repeat;
    background-size:     cover;
    margin:0;

}
hr {
border-color: darkgoldenrod;
}

hr.light {
    border-color: darkgoldenrod;
}

a {
color: darkgoldenrod;
}

.bg-primary {
background-color: rgb(225, 189, 139);

}

.btn-primary{
background-color: darkgoldenrod;

}


.navbar-default .navbar-header .navbar-brand {
    color: darkgoldenrod;
}

.section-heading{
    color:white;
}