header {
background-image: url('../img/JanAndChin.jpeg');
}

.portfolio-box {
  position: relative;
    float: left;
    /*width:  350px;
    height: 350px;*/
    background-position: 50% 50%;
    background-repeat:   no-repeat;
    background-size:     cover;
}

.img-responsive {
position: relative;
    float: left;
    /*width:  350px;
    height: 350px;*/
    background-position: 50% 50%;
    background-repeat:   no-repeat;
    background-size:     cover;

}
hr {
border-color: darkgoldenrod;
}

hr.light {
    border-color: darkgoldenrod;
}

a {
color: darkgoldenrod;
}

.bg-primary {
background-color: rgb(242, 104, 112);

}

.btn-primary{
background-color: darkgoldenrod;

}


.navbar-default .navbar-header .navbar-brand {
    color: darkgoldenrod;
}

.section-heading{
    color:navy;
}